/* basic elements */
html {
	margin: 0;
	padding: 0;
	height: 100%;
	}
	
body { 
	font: 100% georgia, sans-serif;
	line-height: 2em; 
	margin-left: 10%; 
  	margin-right: 10%;
  	height: 100%;
	}
	
p { 
	margin-top: 0; 
	text-align: left;
	}
	
h2 { 
	font: bold 2em georgia, sans-serif;
	letter-spacing: 0.1em; 
	border-bottom:2px solid rgb(143, 142, 142);
    padding-bottom:3px;
}

h3 { 
	font: bold normal 1.4em georgia, sans-serif;
	letter-spacing: 0.1em; 
	margin-bottom: 1em;
	}
	
figure {
  border-top: none;
  padding-top: 0;
  float: left;
  width: 80%
  }

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 0.1em; 
	}

/* specific divs (classes) */

.small {
  font-variant: small-caps;
  }

.italic {
  font-style: italic;
  margin-top: 0
  }
  
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }

.quote {
  padding-left: 1em; 
  display:block
  }

.column {
  float: left;
  width: 45%;
  padding: 0.1em;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} 